@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1428568850_104039.eot');
  src: url('//at.alicdn.com/t/font_1428568850_104039.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1428568850_104039.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1428568850_104039.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1428568850_104039.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
}
.top {
  width: 100%;
  height: 27px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  color: #666;
}
.top-md {
  width: 1190px;
  margin: 0 auto;
}
.top-r-nav {
  float: right;
}
.top-l-nav {
  float: left;
}
.top-l-nav a {
  display: inline-block;
}
.top-l-nav .n-login {
  display: none;
}
.top-l-nav .n-login .qq-icon {
  display: inline-block;
  font-size: 20px;
  color: #666;
}
.top-l-nav .n-login .login-init {
  width: 40px;
  height: 25px;
  text-align: center;
}
.top-l-nav .n-login .login-init:before,
.top-l-nav .n-login .login-init:after {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 1px;
  height: 13px;
  content: '';
  background-color: #d7d7de;
}
.top-l-nav .n-login .login-init:before {
  left: -6px;
}
.top-l-nav .n-login .login-init:after {
  right: -6px;
}
.top-l-nav .y-login a {
  margin: 0 5px;
}
.top-l-nav .y-login span {
  float: left;
}
.top-l-nav .y-login .user-name {
  float: left;
  margin-right: 5px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #0072c1;
}
@media screen and (max-width: 1200px) {
  .header,
  .md-warp {
    width: 990px;
  }
  .nav-md {
    width: 800px;
  }
  .nav-md ul li {
    width: 80px;
  }
  .banner-main {
    width: 990px;
  }
  .banner-main .banner-pannel .banner-cont {
    margin-left: 490px;
  }
  .sider {
    _margin-left: -990px;
  }
  .new-goods .goods-cont-item .md-warp-cont {
    width: 800px;
  }
  .floor-md .md-warp-cont {
    width: 400px;
  }
  .expert-save {
    width: 590px;
  }
  .expert-save .save-cont-item li {
    width: 295px;
  }
  .f-strength .f-strength-item {
    padding: 10px 0 0;
    width: 150px;
  }
}
.w990 .header,
.w990 .md-warp {
  width: 990px;
}
.w990 .nav-md {
  width: 800px;
}
.w990 .nav-md ul li {
  width: 80px;
}
.w990 .banner-main {
  width: 990px;
}
.w990 .banner-main .banner-pannel .banner-cont {
  margin-left: 490px;
}
.w990 .sider {
  _margin-left: -990px;
}
.w990 .new-goods .goods-cont-item .md-warp-cont {
  width: 800px;
}
.w990 .floor-md .md-warp-cont {
  width: 400px;
}
.w990 .expert-save {
  width: 590px;
}
.w990 .expert-save .save-cont-item li {
  width: 295px;
}
.w990 .f-strength .f-strength-item {
  padding: 10px 0 0;
  width: 150px;
}
