<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/static/src/css/common/common.css">
    <link rel="stylesheet" href="/static/src/css/index.css">
    <link rel="stylesheet" href="/static/src/css/header.css">
</head>
<body>
    <div class="top"></div>
    <div class="header">
            <h1 class="logo">
                <a href="#">
                    <img src="#" alt="众划算" />
                </a>
            </h1>
            <div class="search">
                <div class="search-md">
                    <ul class="search-type">
                        <li>商品</li>
                        <li>商家</li>
                    </ul>
                    <input type="text" class="search-txt" />
                </div>
                <input type="submit" class="search-btn" value="搜索" />
            </div>
    </div>
    <div class="nav">
        <div class="nav-md">
            <ul>
                <li><a href="#">商品汇总</a></li>
                <li><a href="#">最新上线</a></li>
                <li><a href="#">一站成名</a></li>
                <li><a href="#">名品馆</a></li>
                <li><a href="#">免费使用</a></li>
                <li><a href="#">买家晒单</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
            <a href="#" class="zs-inlet"></a>
        </div>
    </div>
    <div class="banner">
        <div class="banner-main">
            <div class="banner-pannel">
                <div class="banner-cont">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="/static/src/img/001.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sider">
                <h2 class="sider-title"></h2>
            </div>
            <div class="small-banner"></div>            
        </div>
    </div>
    <div class="warp">
        <div class="md-warp new-goods">
            <div class="floor-title">
                <a class="more" href="#">更多<b></b></a>
                <div class="new-goods-tab">
                    <a class="goods-tab-item goods-tab-item-cur" href="#">最新上线</a><span>|</span><a class="goods-tab-item" href="#">新品预告</a>
                </div>
            </div>
            <div class="new-goods-cont">
                <div class="goods-cont-item">
                    <div class="goods-cont-item-bn"></div>
                    <ul class="md-warp-cont">
                        <li>
                            <a href="#">
                                <img src="#" width="173" height="173" alt="" />
                                <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                            </a>
                            <p class="price-box">
                                <span class="hs-price"><b>￥</b>14111.75</span>
                                <span class="del-price">59111.75元</span>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="#" width="173" height="173" alt="" />
                                <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                            </a>
                            <p class="price-box">
                                <span class="hs-price"><b>￥</b>14111.75</span>
                                <span class="del-price">59111.75元</span>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="#" width="173" height="173" alt="" />
                                <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                            </a>
                            <p class="price-box">
                                <span class="hs-price"><b>￥</b>14111.75</span>
                                <span class="del-price">59111.75元</span>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="#" width="173" height="173" alt="" />
                                <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                            </a>
                            <p class="price-box">
                                <span class="hs-price"><b>￥</b>14111.75</span>
                                <span class="del-price">59111.75元</span>
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="#" width="173" height="173" alt="" />
                                <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                            </a>
                            <p class="price-box">
                                <span class="hs-price"><b>￥</b>14111.75</span>
                                <span class="del-price">59111.75元</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="goods-cont-item">
                    <div class="goods-cont-item-bn"></div>
                </div>
            </div>
        </div>

        <div class="md-warp fashion floor-md">
            <div class="floor-title">
                <a class="more" href="#">更多<b></b></a>
                <div class="floor-title-item">
                    <span class="title-item-icon"></span>
                    <h2>潮流穿搭</h2>
                    <span class="line">/</span>
                    <span class="floor-en-name">Fashion dress</span>
                </div>
            </div>
            <div class="md-warp-sidebar">
                <a href="#" class="warp-sidebar-bn">
                    <img src="/static/src/img/sbn.jpg">
                </a>
                <ul>
                    <li><a href="#">潮流女装</a></li>    
                    <li><a href="#">精品男装</a></li>    
                    <li><a href="#">鞋子箱包</a></li>    
                    <li><a href="#">时尚配饰</a></li>    
                </ul>
            </div>
            <div class="md-warp-bn">
                <a href="#">
                    <img src="/static/src/img/bn.jpg">
                    <div class="md-warp-bn-info">
                        <span class="bn-tit bn-max-tit">冬装超值回馈</span>
                        <span class="bn-tit bn-min-tit">男装特惠季</span>
                        <span class="bn-detail">了解详情</span>
                    </div>
                </a>
                <a href="#">
                    <img src="/static/src/img/bn2.jpg">
                    <div class="md-warp-bn-info">
                        <span class="bn-tit bn-max-tit">冬装超值回馈</span>
                        <span class="bn-tit bn-min-tit">男装特惠季</span>
                        <span class="bn-detail">了解详情</span>
                    </div>
                </a>
            </div>
            <div class="md-warp-cont-tab">
                <ul class="md-warp-cont">
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price"> <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price"> <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>                
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="md-warp life floor-md">
            <div class="floor-title">
                <a class="more" href="#">更多<b></b></a>
                <div class="floor-title-item">
                    <span class="title-item-icon"></span>
                    <h2>生活百货</h2>
                    <span class="line">/</span>
                    <span class="floor-en-name">Department of life</span>
                </div>
            </div>
            <div class="md-warp-sidebar">
                <a href="#" class="warp-sidebar-bn">
                    <img src="/static/src/img/sbn.jpg">
                </a>
                <ul>
                    <li><a href="#">美食特产</a></li>    
                    <li><a href="#">数码家电</a></li>    
                    <li><a href="#">家居日用</a></li>    
                    <li><a href="#">综合商品</a></li>    
                </ul>
            </div>
            <div class="md-warp-bn">
                <a href="#">
                    <img src="/static/src/img/bn.jpg">
                    <div class="md-warp-bn-info">
                        <span class="bn-tit bn-max-tit">冬装超值回馈</span>
                        <span class="bn-tit bn-min-tit">男装特惠季</span>
                        <span class="bn-detail">了解详情</span>
                    </div>
                </a>
                <a href="#">
                    <img src="/static/src/img/bn2.jpg">
                    <div class="md-warp-bn-info">
                        <span class="bn-tit bn-max-tit">冬装超值回馈</span>
                        <span class="bn-tit bn-min-tit">男装特惠季</span>
                        <span class="bn-detail">了解详情</span>
                    </div>
                </a>
            </div>
            <div class="md-warp-cont-tab">
                <ul class="md-warp-cont">
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price"> <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price"> <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>                
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="md-warp infant-mom floor-md">
            <div class="floor-title">
                <a class="more" href="#">更多<b></b></a>
                <div class="floor-title-item">
                    <span class="title-item-icon"></span>
                    <h2>母婴用品</h2>
                    <span class="line">/</span>
                    <span class="floor-en-name">Maternal and child supplies</span>
                </div>
            </div>
            <div class="md-warp-sidebar">
                <a href="#" class="warp-sidebar-bn">
                    <img src="/static/src/img/sbn.jpg">
                </a>
                <ul>
                    <li><a href="#">美食特产</a></li>    
                    <li><a href="#">数码家电</a></li>    
                    <li><a href="#">家居日用</a></li>    
                    <li><a href="#">综合商品</a></li>    
                </ul>
            </div>
            <div class="md-warp-bn">
                <a href="#">
                    <img src="/static/src/img/bn.jpg">
                    <div class="md-warp-bn-info">
                        <span class="bn-tit bn-max-tit">冬装超值回馈</span>
                        <span class="bn-tit bn-min-tit">男装特惠季</span>
                        <span class="bn-detail">了解详情</span>
                    </div>
                </a>
                <a href="#">
                    <img src="/static/src/img/bn2.jpg">
                    <div class="md-warp-bn-info">
                        <span class="bn-tit bn-max-tit">冬装超值回馈</span>
                        <span class="bn-tit bn-min-tit">男装特惠季</span>
                        <span class="bn-detail">了解详情</span>
                    </div>
                </a>
            </div>
            <div class="md-warp-cont-tab">
                <ul class="md-warp-cont">
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price"> <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price"> <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>                
                    <li>
                        <a href="#">
                            <img src="#" width="173" height="173" alt="" />            
                            <span class="goods-title">【包邮】全棉包包秋衣秋裤啊</span>
                        </a>
                        <p class="price-box">
                            <span class="hs-price">
                                <b>￥</b>
                                14111.75
                            </span>
                            <span class="del-price">59111.75元</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="md-warp streamer"></div>

        <div class="md-warp expert">
            <div class="expert-save">
                <div class="floor-title">
                    <div class="expert-save-tab">
                        <a href="#">总排行榜</a>
                        <span>|</span>
                        <a href="#" class="expert-save-tab-cur">月排行榜</a>
                    </div>
                    <div class="floor-title-item">
                        <span class="title-item-icon"></span>
                        <h2>省钱达人</h2>
                    </div>
                </div>
                <div class="expert-save-cont">
                    <div class="save-cont-item">
                        <ul>
                            <li>
                               <a href="#">
                                   <span class="save-icon"></span>
                                   <img width="72" height="72" src="#">
                                   <span class="save-name">jiaying_lun</span>
                                   <span>商品总数：<b class="save-num">6880个</b></span>
                                   <span class="save-money">省钱：<sub>￥</sub><b>200,000</b><sup>+</sup></span>
                               </a> 
                            </li>
                            <li>
                               <a href="#">
                                   <span class="save-icon"></span>
                                   <img width="72" height="72" src="#">
                                   <span class="save-name">jiaying_lun</span>
                                   <span>商品总数：<b class="save-num">6880个</b></span>
                                   <span class="save-money">省钱：<sub>￥</sub><b>200,000</b><sup>+</sup></span>
                               </a> 
                            </li> 
                            <li>
                               <a href="#">
                                   <span class="save-icon"></span>
                                   <img width="72" height="72" src="#">
                                   <span class="save-name">jiaying_lun</span>
                                   <span>商品总数：<b class="save-num">6880个</b></span>
                                   <span class="save-money">省钱：<sub>￥</sub><b>200,000</b><sup>+</sup></span>
                               </a> 
                            </li>
                            <li>
                               <a href="#">
                                   <span class="save-icon"></span>
                                   <img width="72" height="72" src="#">
                                   <span class="save-name">jiaying_lun</span>
                                   <span>商品总数：<b class="save-num">6880个</b></span>
                                   <span class="save-money">省钱：<sub>￥</sub><b>200,000</b><sup>+</sup></span>
                               </a> 
                            </li>
                            <li>
                               <a href="#">
                                   <span class="save-icon"></span>
                                   <img width="72" height="72" src="#">
                                   <span class="save-name">jiaying_lun</span>
                                   <span>商品总数：<b class="save-num">6880个</b></span>
                                   <span class="save-money">省钱：<sub>￥</sub><b>200,000</b><sup>+</sup></span>
                               </a> 
                            </li>
                            <li>
                               <a href="#">
                                   <span class="save-icon"></span>
                                   <img width="72" height="72" src="#">
                                   <span class="save-name">jiaying_lun</span>
                                   <span>商品总数：<b class="save-num">6880个</b></span>
                                   <span class="save-money">省钱：<sub>￥</sub><b>200,000</b><sup>+</sup></span>
                               </a> 
                            </li> 
                        </ul>
                    </div>
                    <div class="save-cont-item">
                        
                    </div>
                </div>
            </div>

            <div class="expert-bask">
                <div class="floor-title">
                    <a class="more" href="#">更多<b></b></a>
                    <div class="floor-title-item">
                        <span class="title-item-icon"></span>
                        <h2>晒单达人</h2>
                    </div>
                </div>
                <div class="expert-bask-cont">
                    <div class="bask-cont-item">
                        <a href="#" class="head-img">
                            <img src="#" width="60" height="60">
                            <span>许迎红</span>
                        </a>
                        <a href="#" class="bask-img">
                            <img src="#">
                        </a>
                        <div class="bask-detail">
                            <span>女童新款春装休闲</span>
                            <p>质量很好，款式漂亮，喜欢！物美价廉！</p>
                            <a href="#">“查看商品”</a>
                            <a href="#">“查看达人空间”</a>
                        </div>
                    </div>
                    <div class="bask-cont-item">
                        <a href="#" class="head-img">
                            <img src="#" width="60" height="60">
                            <span>许迎红</span>
                        </a>
                        <a href="#" class="bask-img">
                            <img src="#">
                        </a>
                        <div class="bask-detail">
                            <span>女童新款春装休闲</span>
                            <p>质量很好，款式漂亮，喜欢！物美价廉！</p>
                            <a href="#">“查看商品”</a>
                            <a href="#">“查看达人空间”</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>